:host {
  display: block;
  padding: 20px;
  margin-top: 20px;
  background-color: #f0f2f5; /* Couleur de fond douce pour l'ensemble */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacement entre les cartes */
  justify-content: center;
}

.card {
  flex: 1 1 calc(50% - 20px); /* Chaque carte occupe 50% de la largeur moins l'espacement */
  max-width: 450px;
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Style pour les labels de champs (Nom du Groupe et Description) */
.field-label {
  font-weight: bold;
  color: #79155B; /* Bleu pour les labels */
}

.card-title {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.join-button {
  display: block;
  padding: 12px;
  background-color: #643A6B;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.join-button:hover {
  background-color: #643A6B;
}

.modal {
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal.show {
  display: block;
}


.card-container {
  display: flex;
  flex-wrap: wrap; /* Permet de créer des lignes avec plusieurs cartes */
  gap: 15px; /* Espacement entre les cartes */
}

.card {
  flex: 1 1 calc(33.33% - 15px); /* Chaque carte occupe un tiers de la ligne, avec un écart de 15px */
  box-sizing: border-box;
  min-width: 280px; /* Taille minimale de chaque carte */
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 15px); /* Pour les écrans moyens, 2 cartes par ligne */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%; /* Pour les petits écrans, une carte par ligne */
  }
}

