<section class="hero" style="background: linear-gradient(to right, #a3c2f2, #d1a6f0);">
  <div class="container mx-auto px-8 py-20 flex flex-col md:flex-row items-center">
    <!-- Section Image -->
    <div class="md:w-1/2">
      <img 
        src="assets/1.jpg" 
        alt="EduShare" 
        class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300"
        style="max-width: 100%; max-height: 400px;"
      >
    </div>

    <!-- Section Texte -->
    <div class="md:w-1/2 text-center md:text-left mt-8 md:mt-0">
      <h1 class="text-5xl font-bold mb-6 leading-tight">
        Bienvenue sur <span class="text-[#7F4C99]">EduShare</span>
      </h1>
      <p class="text-lg leading-relaxed mb-6">
        Découvrez une nouvelle manière de partager vos ressources pédagogiques. Trouvez des supports de cours, échangez des idées, et connectez-vous avec une communauté dédiée à l'apprentissage.
      </p>
      <div class="flex justify-center md:justify-start">
        <a 
        href="/ressources" 
          class="bg-[#7F4C99] text-white font-semibold py-3 px-8 rounded-lg shadow-lg hover:bg-[#9b66b7] transition-all duration-300 mr-4">
          Explorer les Ressources
        </a>
        <a 
          href="#about" 
          class="bg-transparent border border-[#7F4C99] py-3 px-8 rounded-lg text-[#7F4C99] hover:bg-[#7F4C99] hover:text-white transition-all duration-300">
          En savoir plus
        </a>
      </div>
    </div>
  </div>
</section>
