<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
  <ul>
    <li>
      <a routerLinkActive="active" (click)="toggleSubmenu()">
        <span class="menu-icon material-icons">dashboard</span>
        <span class="menu-text">Dashboard</span>
        <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
          <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </span>
      </a>

    <li>
      <a routerLink="/home" routerLinkActive="active">
        <span class="menu-icon material-icons">home</span>
        <span class="menu-text">Home</span>
      </a>
    </li>

<li>
      <a routerLinkActive="active" routerLink="/ressources" (click)="toggleSubmenu()">
        <span class="menu-icon material-icons">ressource</span>
        <span class="menu-text">ressource</span>
        <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
          <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </span>
      </a>
           <ul *ngIf="isSubmenuOpen" class="sub-menu">
        <li>
          <a routerLink="/add-ressource" routerLinkActive="active">
            <span class="menu-icon material-icons">ressource</span>
            <span class="menu-text">AddRessource</span>
          </a>
        </li>

      </ul>
    </li>











  </ul>
</div>
