<!--<app-studentheader></app-studentheader>-->
 
 <!-- **************** MAIN CONTENT START **************** -->
 <main>
	
    <!-- =======================
    Page Banner START -->
    <section class="pt-0">
        <!-- Main banner background image -->
        <div class="container-fluid px-0">
            <div class="bg-blue h-100px h-md-200px rounded-0" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <!-- Profile banner START -->
                <div class="col-12">
                    <div class="card bg-transparent card-body p-0">
                        <div class="row d-flex justify-content-between">
                            <!-- Avatar -->
                            <div class="col-auto mt-4 mt-md-0">
                                <div class="avatar avatar-xxl mt-n3">
                                    <img class="avatar-img rounded-circle border border-white border-3 shadow" src="assets/images/avatar/01.jpg" alt="">
                                </div>
                            </div>
                            <!-- Profile info -->
                            <div class="col d-md-flex justify-content-between align-items-center mt-4">
                                <div>
                                    <h1 class="my-1 fs-4">Lori Stevens <i class="bi bi-patch-check-fill text-info small"></i></h1>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i>4.5/5.0</li>
                                        <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled Students</li>
                                        <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-book text-purple me-2"></i>25 Courses</li>
                                    </ul>
                                </div>
                                <!-- Button -->
                                <div class="d-flex align-items-center justify-content-end mt-2 mt-md-0 me-2">
                                    <a href="instructor-create-course.html" class="btn btn-success mb-0">Create a ressource</a>
                                </div>
                                
                            </div>  
                        </div>
                    </div>
                    <!-- Profile banner END -->
    
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Page content START -->
    <section class="container">
        <!-- Sidebar START -->
         <div class="col-xl-3">
                <!-- Responsive offcanvas body START -->
                <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar">
                    <!-- Offcanvas header -->
                    <div class="offcanvas-header bg-light">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
                    </div>
                    <!-- Offcanvas body -->
                    <div class="offcanvas-body p-3 p-xl-0">
                        <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                            <!-- Dashboard menu -->
                            <div class="list-group-dark list-group-borderless">
                                <a class="list-group-item active" href="studentdashboard"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
                                <a class="list-group-item" href="studentdashboard"><i class="bi bi-basket fa-fw me-2"></i>My ressources</a>

                                <a class="list-group-item" href="studentdash"><i class="bi bi-graph-up fa-fw me-2"></i>Earnings</a>


                                <a class="list-group-item" href="studentreviews"><i class="bi bi-star fa-fw me-2"></i>Reviews</a>
                                <a class="list-group-item" href="studenteditprofile"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit Profile</a>
                                <a class="list-group-item" href="instructor-payout.html"><i class="bi bi-wallet2 fa-fw me-2"></i>Notifications</a>
                                <a class="list-group-item" href="studentgroups"><i class="bi bi-gear fa-fw me-2"></i>Groups</a>
                                <a class="list-group-item" href="studentaddgroup"><i class="bi bi-trash fa-fw me-2"></i>Add Group</a>
                                <a class="list-group-item text-danger bg-danger-soft-hover" href="sign-in.html"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Responsive offcanvas body END -->
            </div>
        <!-- Sidebar END -->
    
        <!-- Main content START -->
        <div class="modal-body">
            <!-- Form START -->
            <form>
              <!-- Group name -->
              <div class="mb-3">
                <label class="form-label">Ressource Name</label>
                <input type="text" [(ngModel)]="newRessource.nom" name="nomRessource" class="form-control" placeholder="Add name here">
              </div>
              <!-- Group picture -->
              <div class="mb-3">
                <label class="form-label">Ressource File</label>
                <!-- Avatar upload START -->
                <div class="d-flex align-items-center">
                  <div class="avatar-uploader me-3">
                    <!-- Avatar edit -->
                    <div class="avatar-edit">
                      <input type='file' (change)="onFileChange($event)" id="avatarUpload" accept=".png, .jpg, .jpeg, .pdf, .word" />
                      <label for="avatarUpload"></label>
                    </div>
                   
                  </div>
                  <!-- Avatar remove button -->
                  <div class="avatar-remove">
                    <button type="button" id="avatar-reset-img" class="btn btn-light">Delete</button>
                  </div>
                </div>
                <!-- Avatar upload END -->
              </div>
              
              <!-- description -->
              <div class="mb-3">
                <label class="form-label">Ressource description </label>
                <textarea [(ngModel)]="newRessource.description" name="descriptionressource" class="form-control" rows="3" placeholder="Description here"></textarea>
              </div>
            </form>
            <!-- Form END -->
            <div class="modal-footer">
                <button type="submit" (click)="addRessource()" class="btn btn-success-soft">Create now</button>
            </div>
          </div>
          
          

        <!-- Main content END -->
    </section>
    <!-- =======================
    Page content END -->
    
    </main>
<!-- **************** MAIN CONTENT END **************** -->

<!--<app-studentfooter></app-studentfooter>-->