<app-studentheader></app-studentheader>
 
 <!-- **************** MAIN CONTENT START **************** -->
 <main>
    
    
    <section class="container">

        <app-student-sidenav/>
    
      <!-- Main content START -->
      <div class="col-xl-9">
        
        <!-- Counter boxes START -->
        <div class="row g-4">
            <!-- Counter item -->
            <div class="col-sm-6 col-lg-4">
                <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
                    <span class="display-6 text-warning mb-0"><i class="fas fa-tv fa-fw"></i></span>
                    <div class="ms-4">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="25" data-purecounter-delay="200" data-purecounter-duration="0">25</h5>
                        </div>
                        <span class="mb-0 h6 fw-light">Total Categories</span>
                    </div>
                </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-lg-4">
                <div class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-10 rounded-3">
                    <span class="display-6 text-purple mb-0"><i class="fas fa-user-graduate fa-fw"></i></span>
                    <div class="ms-4">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="25" data-purecounter-delay="200" data-purecounter-duration="0">25</h5>
                            <span class="mb-0 h5">K+</span>
                        </div>
                        <span class="mb-0 h6 fw-light">Students Enrolled</span>
                    </div>
                </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-lg-4">
                <div class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-10 rounded-3">
                    <span class="display-6 text-info mb-0"><i class="fas fa-gem fa-fw"></i></span>
                    <div class="ms-4">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="12" data-purecounter-delay="300" data-purecounter-duration="0">12</h5>
                            <span class="mb-0 h5">K</span>
                        </div>
                        <span class="mb-0 h6 fw-light">Total Ressources</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter boxes END -->

        

       
    </div>
    <!-- Main content END -->
    </section>
    <!-- =======================
    Page content END -->
    
    </main>
<!-- **************** MAIN CONTENT END **************** -->

<app-userfooter></app-userfooter>