<app-studentheader></app-studentheader>
 
 <!-- **************** MAIN CONTENT START **************** -->
 <main>

    <!-- =======================
    Page content START -->
    <section class="container">
        <app-student-sidenav/>
    
      <!-- Main content START -->
      <div class="col-xl-9">
        <!-- Edit profile START -->
        <div class="card bg-transparent border rounded-3">
            <!-- Card header -->
            <div class="card-header bg-transparent border-bottom">
                <h3 class="card-header-title mb-0">Edit Profile</h3>
            </div>
            <!-- Card body START -->
            <div class="card-body">
                <!-- Form -->
                <form class="row g-4">

                    <!-- Profile picture -->
                    <div class="col-12 justify-content-center align-items-center">
                        <label class="form-label">Profile picture</label>
                        <div class="d-flex align-items-center">
                            <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                                <!-- Avatar place holder -->
                                <span class="avatar avatar-xl">
                                    <img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" src="assets/images/avatar/01.jpg" alt="">
                                </span>
                                
                            </label>
                            <!-- Upload button -->
                            <label class="btn btn-primary-soft mb-0" for="uploadfile-1">Change</label>
                            <input id="uploadfile-1" class="form-control d-none" type="file">
                        </div>
                    </div>

                    <!-- Full name -->
                    <div class="col-12">
                        <label class="form-label">Full name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="Lori" placeholder="First name" name="firstName" [(ngModel)]="userData.firstName">
                            <input type="text" class="form-control" value="Stevens" placeholder="Last name" name="lastName" [(ngModel)]="userData.lastName">
                        </div>
                    </div>

                    <!-- Username -->
                    <div class="col-md-6">
                        <label class="form-label">Username</label>
                        <div class="input-group">
                            <span class="input-group-text">ID</span>
                            <input disabled type="text" class="form-control" value="loristev" name="username" [(ngModel)]="userData.username">
                        </div>
                    </div>

                    <!-- Email id -->
                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" value="example@gmail.com" name="email" placeholder="Email" [(ngModel)]="userData.email">
                    </div>


                    <!-- Education -->
                    <div class="col-12">
                        <label class="form-label">Password Reset</label>
                        <input class="form-control mb-2" type="password" value="" placeholder="Enter New Password" name="newPass" [(ngModel)]="newPass"><br>
                        <input class="form-control mb-2" type="password" value="" placeholder="Re-type your password" name="resNewPass" [(ngModel)]="resNewPass">

                    </div>

                    <!-- Save button -->
                    <div class="d-sm-flex justify-content-end">
                        <button type="button" class="btn btn-primary mb-0" (click)="saveChanges()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- Card body END -->
        </div>
        <!-- Edit profile END -->
        
        
    </div>
    <!-- Main content END -->
    </section>
    <!-- =======================
    Page content END -->
    
    </main>
<!-- **************** MAIN CONTENT END **************** -->

<app-userfooter/>