
<section class="text-gray-600 body-font">
  <div class="container">
    <div>
    <h2>Update un Ressource :</h2>
    </div>
    <form >
      <div  class="col-sm-2 col-md-2 col-lg-2">
      <label >ID Ressource</label>
      <input ReadOnly type="text" [(ngModel)]="currentRessource.id" name="idressource" class="form-control">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" >
      <label >Nom Ressource</label>
      <input type="text"[(ngModel)]= "currentRessource.nom" name="nomRessource" class="form-control">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >description Ressource</label>
        <textarea type="text" [(ngModel)]= "currentRessource.description" name="descriptionressource" class="form-control"></textarea>
        </div><!--
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [ngModel]= "currentRessource.creeLe | date: 'yyyy-MM-dd'" (ngModelChange)=" currentRessource.creeLe= $event" name="dateCreation" class="form-control">
        </div>-->
        <div class="mt-2">
        <button type="submit" (click)="updateRessource(currentRessource)"class="btn btn-success">Update</button>

        </div>
        </form>
        </div>

  </section>
