/* Ajouter un fond léger pour la section */
section.text-gray-600 {
  background-color: #f9f9f9;
  padding: 40px 0;
}

/* Titres */
h2 {
  color: #2d3e50;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Bordure de champ de formulaire */
.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-control-file {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Bouton d'ajout personnalisé */
.btn-success {
  background-color: #79155B;
  border-color: #79155B;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-success:hover {
  background-color: #975C8D;
  border-color: #975C8D;
}

/* Espacement des champs */
.form-group {
  margin-bottom: 1.5rem;
}

/* Select Dropdown Styling */
.form-select {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
color: #333;
outline: none;
transition: border-color 0.3s ease-in-out;
}

.form-select:focus {
border-color: #790252;
box-shadow: 0 0 5px rgba(121, 2, 82, 0.5);
}

/* Placeholder Styling */
.form-select option[value=""][disabled] {
color: #aaa;
}
