<section class="text-gray-600 body-font">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4 text-center" style="color: #D989B5;font-size: xx-large;">Ajouter une Ressource</h2>
      </div>
    </div>
    <form>
      <!-- ID Ressource caché -->
      <div hidden class="form-group">
        <label for="idressource" >ID Ressource</label>
        <input type="text" [(ngModel)]="newRessource.id" name="idressource" class="form-control" id="idressource">
      </div>

      <!-- Nom de la Ressource -->
      <div class="form-group">
        <label for="nomRessource" style="color: #790252;font-size: medium;">Nom de Ressource</label>
        <input type="text" [(ngModel)]="newRessource.nom" name="nomRessource" class="form-control" id="nomRessource" placeholder="Entrez le nom de la ressource" required>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="descriptionressource" style="color: #790252;font-size: medium;">Description</label>
        <input type="text" [(ngModel)]="newRessource.description" name="descriptionressource" class="form-control" id="descriptionressource" placeholder="Entrez une brève description" required>
      </div>

      <!-- Upload File -->
      <div class="form-group">
        <label for="uploadFile" style="color: #790252;font-size: medium;">Télécharger un fichier</label>
        <input type="file" (change)="onFileChange($event)" class="form-control-file" id="uploadFile" required>
      </div>

      <!-- Bouton Ajouter -->
      <div class="form-group text-center mt-3">
        <button type="submit" (click)="addRessource()" class="btn btn-success">Ajouter</button>
      </div>
    </form>
  </div>
</section>
