<div class="container mx-auto py-8">
  <h2 class="text-3xl font-semibold mb-6 text-center">Groupes Joinés</h2>
  
  <!-- Affichage des groupes sous forme de liste simple -->
  <div *ngFor="let group of groups" class="group-item mb-6 p-6 bg-white shadow-md rounded-lg border-2 border-[#E5D1F7]">
    <h5 class="text-xl font-semibold text-[#7F4C99] mb-2">
      <span class="field-label text-gray-500">Nom du Groupe :</span> {{ group.name }}
    </h5>
    <p class="text-gray-700">
      <span class="field-label text-gray-500">Description :</span> {{ group.description }}
    </p>
  </div>
</div>
