<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Admin</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="admin">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="admin-ressources">
                <i class='bx bxs-shopping-bag-alt' ></i>
                <span class="text">Ressources</span>
            </a>
        </li>
        <li>
            <a href="admin-users">
                <i class='bx bxs-group' ></i>
                <span class="text">Users</span>
            </a>
        </li>
        <li>
            <a href="admin-categories">
                <i class='bx bxs-message-dots' ></i>
                <span class="text">Categories</span>
            </a>
        </li>
        <li>
            <a href="admin-add-categorie">
                <i class='bx bxs-doughnut-chart' ></i>
                <span class="text">Add Categorie</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class='bx bxs-cog' ></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a  href="login" (click)="logout()" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search"  [(ngModel)]="searchTerm" placeholder="Search users..."  placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>

            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>
        <a href="#" class="profile">
            <img src="img/people.png">
        </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn-download">
                <i class='bx bxs-cloud-download' ></i>
                <span class="static-icon">Static</span>
            </a>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-group' ></i>
                <span class="text">
                    <h3>{{ totalUsers }}</h3>
                    <p>Total Users</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-check-circle' ></i>
                <span class="text">
                    <h3>{{ activeUsers }}</h3>
                    <p>Active Users</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-x-circle' ></i>
                <span class="text">
                    <h3>{{ deactivatedUsers }}</h3>
                    <p>Deactivated Users</p>
                </span>
            </li>
        </ul>


        <div class="table-data">



 <div  class="todo">
   <div class="head">
     <h3>Users</h3>
     <i class='bx bx-plus'></i>
     <i class='bx bx-filter'></i>
   </div>
   <ul class="todo-list">
     <li *ngFor="let user of users" [ngClass]="{'completed': user.status === 'active', 'not-completed': user.status !== 'active'}">
       <p>{{ user.username }}</p>
       <i class='bx bx-dots-vertical-rounded'></i>
       <button (click)="activateUser(user.id)" class="btn btn-success">Activate</button>
       <button (click)="deactivateUser(user.id)" class="btn btn-warning">Deactivate</button>
       <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>


     </li>
   </ul>
 </div>


    </div>
    </main>
    <!-- MAIN -->
</section>
