<app-studentheader></app-studentheader>
 
 <!-- **************** MAIN CONTENT START **************** -->
 <main>
    
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Page content START -->
    <section class="container">
        
    <app-student-sidenav/>
        
        <!-- Main content START -->
      <div class="col-md-8 col-lg-6 vstack gap-4">
        <!-- Card START -->
        <div class="card">
          <!-- Card header START -->
          <div class="card-header border-0 pb-0">
            <div class="row g-2">
              <div class="col-lg-2">
                <!-- Card title -->
                <h1 class="h4 card-title mb-lg-0">Group</h1>
              </div>
              <div class="col-sm-6 col-lg-3 ms-lg-auto">
                <!-- Select Groups -->
                <select class="form-select js-choice choice-select-text-none" data-search-enabled="false">
                  <option value="AB">Alphabetical</option>
                  <option value="NG">Newest group</option>
                  <option value="RA">Recently active</option>
                  <option value="SG">Suggested</option>
                </select>
              </div>
                <div class="col-sm-6 col-lg-3">
                <!-- Button modal -->
                <a class="btn btn-primary-soft ms-auto w-100" href="studentaddgroup"  data-bs-target="#modalCreateGroup"> <i class="fa-solid fa-plus pe-1"></i> Create group</a>
              </div>
            </div>
          </div>
          <!-- Card header START -->
          <!-- Card body START -->
          <div class="card-body">
            <!-- Tab nav line -->
            <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
              <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> Available Groups </a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> My Groups </a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3"> Favorite Groups </a> </li>
            </ul>
            <div class="tab-content mb-0 pb-0">

              <!-- Friends groups tab START -->
              <div class="tab-pane fade show active" id="tab-1">
                <div class="row ">
                  <div *ngFor="let group of availableGroups" class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/08.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"> <a href="group-details.html">{{group.name}}</a> </h5>
                          <small *ngIf="group.code == ''"> <i class="fa-solid fa-lock-open"></i> Public Group</small>
                          <small *ngIf="group.code != ''"> <i class="fa-solid fa-lock"></i> Private Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">32k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/02.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/03.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/04.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/05.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+22</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                      </div>
                      <!-- Card body END -->
                      <!-- Card Footer START -->
                      <div class="card-footer text-center">
                        <input [disabled]="group.code == ''" type="text" [attr.id]="'code-'+ group.id" name="nom" class="form-control w-50 mx-auto mb-3" placeholder="# Enter Code">
                        <a class="btn btn-success-soft btn-sm" (click)="joinGroup(group.id)"> Join group </a>
                      </div>
                      <!-- Card Footer END -->
                    </div>
                    <!-- Card END -->
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/02.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/02.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"><a href="group-details.html">Beauty queens</a></h5>
                          <small> <i class="bi bi-globe pe-1"></i> Public Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">23k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">12</h6>
                              <small>Post per day</small>
                            </div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/06.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/07.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/09.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+13</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                      </div>
                      <!-- Card body END -->
                      <!-- Card Footer START -->
                      <div class="card-footer text-center">
                        <a class="btn btn-success-soft btn-sm" href="#!"> Join group </a>
                      </div>
                      <!-- Card Footer END -->
                    </div>
                    <!-- Card END -->
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/03.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/09.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"> <a href="group-details.html">Eternal triangle</a></h5>
                          <small> <i class="fa-solid fa-lock-open"></i> Public Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">45k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">16</h6>
                              <small>Post per day</small>
                            </div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/11.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/10.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+12</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                      </div>
                      <!-- Card body END -->
                      <!-- Card Footer START -->
                      <div class="card-footer text-center">
                        <a class="btn btn-danger-soft btn-sm" href="#!"> Leave group </a>
                      </div>
                      <!-- Card Footer END -->
                    </div>
                    <!-- Card END -->
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/04.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/10.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"> <a href="group-details.html">Mountain movers</a></h5>
                          <small> <i class="bi bi-lock pe-1"></i> Private Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">32k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">05</h6>
                              <small>Post per day</small>
                            </div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/10.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/14.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/13.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/12.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/11.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+08</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                        </div>
                        <!-- Card body END -->
                        <!-- Card Footer START -->
                        <div class="card-footer text-center">
                          <a class="btn btn-danger-soft btn-sm" href="#!"> Leave group </a>
                        </div>
                        <!-- Card Footer END -->
                      </div>
                      <!-- Card END -->
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <!-- Card START -->
                      <div class="card">
                        <div class="h-80px rounded-top" style="background-image:url(assets/images/05.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                          <!-- Card body START -->
                          <div class="card-body text-center pt-0">
                            <!-- Avatar -->
                            <div class="avatar avatar-lg mt-n5 mb-3">
                              <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/12.svg" alt=""></a>
                            </div>
                            <!-- Info -->
                            <h5 class="mb-0"> <a href="group-details.html">Hard workers</a></h5>
                            <small> <i class="bi bi-lock pe-1"></i> Private Group</small>
                            <!-- Group stat START -->
                            <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                              <!-- Group stat item -->
                              <div>
                                <h6 class="mb-0">12k</h6>
                                <small>Members</small>
                              </div>
                              <!-- Divider -->
                              <div class="vr"></div>
                              <!-- Group stat item -->
                              <div>
                                <h6 class="mb-0">05</h6>
                                <small>Post per day</small>
                              </div>
                            </div>
                            <!-- Group stat END -->
                            <!-- Avatar group START -->
                            <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                              <li class="avatar avatar-xs">
                                <img class="avatar-img rounded-circle" src="assets/images/08.jpg" alt="avatar">
                              </li>
                              <li class="avatar avatar-xs">
                                <img class="avatar-img rounded-circle" src="assets/images/04.jpg" alt="avatar">
                              </li>
                              <li class="avatar avatar-xs">
                                <img class="avatar-img rounded-circle" src="assets/images/01.jpg" alt="avatar">
                              </li>
                              <li class="avatar avatar-xs">
                                <img class="avatar-img rounded-circle" src="assets/images/06.jpg" alt="avatar">
                              </li>
                              <li class="avatar avatar-xs">
                                <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+23</span></div>
                              </li>
                            </ul>
                            <!-- Avatar group END -->
                        </div>
                        <!-- Card body END -->
                        <!-- Card Footer START -->
                        <div class="card-footer text-center">
                          <a class="btn btn-success-soft btn-sm" href="#!"> Join group </a>
                        </div>
                        <!-- Card Footer END -->
                      </div>
                      <!-- Card END -->
                    </div>
                  </div>
                </div>
                <!-- Friends' groups tab END -->

              <!-- Suggested for you START -->
              <div class="tab-pane fade" id="tab-2">
                <div class="row g-4">
                  <div *ngFor="let group of myGroups" class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/01.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/01.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"><a href="group-details.html">{{group.name}}</a></h5>
                          <small> <i class="bi bi-globe pe-1"></i> Public Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">23k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/06.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/07.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/09.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+12</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                      </div>
                      <!-- Card body END -->
                      <!-- Card Footer START -->
                      <div class="card-footer text-center">
                        <a class="btn btn-danger-soft btn-sm" href="#!"> Leave group </a>
                      </div>
                      <!-- Card Footer END -->
                    </div>
                    <!-- Card END -->
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/02.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/03.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"><a href="group-details.html">Strong signals</a></h5>
                          <small> <i class="bi bi-lock pe-1"></i> Private Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">45k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">16</h6>
                              <small>Post per day</small>
                            </div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/11.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/10.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+05</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                      </div>
                      <!-- Card body END -->
                      <!-- Card Footer START -->
                      <div class="card-footer text-center">
                        <a class="btn btn-success-soft btn-sm" href="#!"> Join group </a>
                      </div>
                      <!-- Card Footer END -->
                    </div>
                    <!-- Card END -->
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <!-- Card START -->
                    <div class="card">
                      <div class="h-80px rounded-top" style="background-image:url(assets/images/03.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                          <!-- Avatar -->
                          <div class="avatar avatar-lg mt-n5 mb-3">
                             <a href="group-details.html"><img class="avatar-img rounded-circle border border-white border-3 bg-white" src="assets/images/05.svg" alt=""></a>
                          </div>
                          <!-- Info -->
                          <h5 class="mb-0"><a href="group-details.html">Team yes, we can</a></h5>
                          <small> <i class="bi bi-lock pe-1"></i> Private Group</small>
                          <!-- Group stat START -->
                          <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">32k</h6>
                              <small>Members</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- Group stat item -->
                            <div>
                              <h6 class="mb-0">05</h6>
                              <small>Post per day</small>
                            </div>
                          </div>
                          <!-- Group stat END -->
                          <!-- Avatar group START -->
                          <ul class="avatar-group list-unstyled align-items-center justify-content-center mb-0 mt-3">
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/10.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/14.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/13.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/12.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/11.jpg" alt="avatar">
                            </li>
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary"><span class="smaller text-white position-absolute top-50 start-50 translate-middle">+08</span></div>
                            </li>
                          </ul>
                          <!-- Avatar group END -->
                      </div>
                      <!-- Card body END -->
                      <!-- Card Footer START -->
                      <div class="card-footer text-center">
                        <a class="btn btn-success-soft btn-sm" href="#!"> Join group </a>
                      </div>
                      <!-- Card Footer END -->
                    </div>
                    <!-- Card END -->
                  </div>
                </div>
              </div>
              <!-- Suggested for you END -->

              <!-- Popular near you START -->
              <div class="tab-pane fade" id="tab-3">
                 <!-- Add group -->
                <div class="my-sm-5 py-sm-5 text-center">
                  <i class="display-1 text-body-secondary bi bi-people"> </i>
                  <h4 class="mt-2 mb-3 text-body">No group founds</h4>
                  <button class="btn btn-primary-soft btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateGroup"> Click here to add </button>
                </div>
              </div>
              <!-- Popular near you END -->

              <!-- More suggestions START -->
              <div class="tab-pane fade" id="tab-4">
                 <!-- Add group -->
                <div class="my-sm-5 py-sm-5 text-center">
                  <i class="display-1 text-body-secondary bi bi-people"> </i>
                  <h4 class="mt-2 mb-3 text-body">No group founds</h4>
                  <button class="btn btn-primary-soft btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateGroup"> Click here to add </button>
                </div>
              </div>
              <!-- More suggestions END -->

          </div>
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card END -->
    </div>
    <!-- Right sidebar END -->

        <!-- Main content END -->
    </section>
    <!-- =======================
    Page content END -->
    
    </main>
<!-- **************** MAIN CONTENT END **************** -->

<app-userfooter></app-userfooter>